h1 {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
    text-align: center;
    font-size: 100px;
    color: khaki;
    font-family: Helvetica;
}


#brushes{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

h3 {
    font-size: 20px;
    font-family: Helvetica;
}

p {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: left;
}

strong {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

#frames{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;

}

#paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

